In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('Social_Network_Ads.Csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
dataset=dataset.drop("User ID",axis=1)

In [7]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [8]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [9]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [10]:
indep=dataset[['Age', 'EstimatedSalary', 'Gender_Male']]

In [11]:
dep=dataset[["Purchased"]]

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['gini', 'entropy', 'log_loss'],'max_features':['sqrt', 'log2'],'n_estimators':[100]}
grid=GridSearchCV(RandomForestClassifier(),param_grid,refit=True,verbose=3,n_jobs=1,scoring='f1_weighted')

In [15]:
grid=grid.fit(x_train,y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV 1/5] END criterion=gini, max_features=sqrt, n_estimators=100;, score=0.867 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 2/5] END criterion=gini, max_features=sqrt, n_estimators=100;, score=0.889 total time=   0.1s
[CV 3/5] END criterion=gini, max_features=sqrt, n_estimators=100;, score=0.852 total time=   0.0s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 4/5] END criterion=gini, max_features=sqrt, n_estimators=100;, score=0.944 total time=   0.0s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 5/5] END criterion=gini, max_features=sqrt, n_estimators=100;, score=0.944 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 1/5] END criterion=gini, max_features=log2, n_estimators=100;, score=0.847 total time=   0.2s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 2/5] END criterion=gini, max_features=log2, n_estimators=100;, score=0.888 total time=   0.2s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 3/5] END criterion=gini, max_features=log2, n_estimators=100;, score=0.852 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 4/5] END criterion=gini, max_features=log2, n_estimators=100;, score=0.944 total time=   0.1s
[CV 5/5] END criterion=gini, max_features=log2, n_estimators=100;, score=0.944 total time=   0.2s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 1/5] END criterion=entropy, max_features=sqrt, n_estimators=100;, score=0.847 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 2/5] END criterion=entropy, max_features=sqrt, n_estimators=100;, score=0.907 total time=   0.2s
[CV 3/5] END criterion=entropy, max_features=sqrt, n_estimators=100;, score=0.852 total time=   0.0s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 4/5] END criterion=entropy, max_features=sqrt, n_estimators=100;, score=0.925 total time=   0.1s
[CV 5/5] END criterion=entropy, max_features=sqrt, n_estimators=100;, score=0.944 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 1/5] END criterion=entropy, max_features=log2, n_estimators=100;, score=0.867 total time=   0.2s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 2/5] END criterion=entropy, max_features=log2, n_estimators=100;, score=0.907 total time=   0.2s
[CV 3/5] END criterion=entropy, max_features=log2, n_estimators=100;, score=0.852 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 4/5] END criterion=entropy, max_features=log2, n_estimators=100;, score=0.925 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 5/5] END criterion=entropy, max_features=log2, n_estimators=100;, score=0.962 total time=   0.2s
[CV 1/5] END criterion=log_loss, max_features=sqrt, n_estimators=100;, score=0.847 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 2/5] END criterion=log_loss, max_features=sqrt, n_estimators=100;, score=0.888 total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=sqrt, n_estimators=100;, score=0.852 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 4/5] END criterion=log_loss, max_features=sqrt, n_estimators=100;, score=0.925 total time=   0.1s
[CV 5/5] END criterion=log_loss, max_features=sqrt, n_estimators=100;, score=0.962 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 1/5] END criterion=log_loss, max_features=log2, n_estimators=100;, score=0.887 total time=   0.2s
[CV 2/5] END criterion=log_loss, max_features=log2, n_estimators=100;, score=0.869 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 3/5] END criterion=log_loss, max_features=log2, n_estimators=100;, score=0.852 total time=   0.1s
[CV 4/5] END criterion=log_loss, max_features=log2, n_estimators=100;, score=0.925 total time=   0.1s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV 5/5] END criterion=log_loss, max_features=log2, n_estimators=100;, score=0.962 total time=   0.3s

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [16]:
re=grid.cv_results_

In [17]:
print('best_Params{}'.format(grid.best_params_))

best_Params{'criterion': 'entropy', 'max_features': 'log2', 'n_estimators': 100}

In [18]:
grid_predicition=grid.predict(x_test)

In [19]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predicition)

In [20]:
cm

array([[78,  7],
       [ 5, 44]], dtype=int64)

In [21]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predicition)

In [22]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.94      0.92      0.93        85
           1       0.86      0.90      0.88        49

    accuracy                           0.91       134
   macro avg       0.90      0.91      0.90       134
weighted avg       0.91      0.91      0.91       134

In [23]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid_predicition)

0.9078031212484994

In [24]:
table=pd.DataFrame.from_dict(re)

In [25]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.154934,0.044481,0.012860,0.005477,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.867478,0.889022,0.851527,0.944161,0.943699,0.899178,0.038430,2
1,0.248729,0.048053,0.014864,0.004553,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.847141,0.888107,0.851527,0.944161,0.943699,0.894927,0.042465,5
2,0.197709,0.036402,0.016349,0.009140,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.847141,0.907177,0.851527,0.925272,0.943699,0.894963,0.039030,4
3,0.237352,0.032550,0.010037,0.002498,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.867478,0.907177,0.851527,0.925272,0.962264,0.902744,0.039841,1
4,0.167017,0.037670,0.012909,0.010962,log_loss,sqrt,100,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.847141,0.888107,0.851527,0.925272,0.962264,0.894862,0.043974,6
5,0.222942,0.064528,0.018290,0.007141,log_loss,log2,100,"{'criterion': 'log_loss', 'max_features': 'log...",0.887346,0.868752,0.851527,0.925272,0.962264,0.899032,0.039992,3

In [28]:
grid.predict([[12,150000,1]])

array([1], dtype=int64)