In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [21]:
dataset=pd.read_csv('Social_Network_Ads.csv')

In [22]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [23]:
dataset=pd.get_dummies(datset,dtype=int,drop_first=True)

In [24]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [25]:
dataset=dataset.drop("User ID",axis=1)

In [32]:
datset['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [27]:
datset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [28]:
indep=datset[['Age', 'EstimatedSalary', 'Gender_Male']]

In [29]:
dep=dataset[[ 'Purchased']]

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [36]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier=classifier.fit(x_train,y_train)

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [37]:
y_pred=classifier.predict(x_test)

In [41]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [42]:
cm

array([[74,  5],
       [ 8, 33]], dtype=int64)

In [43]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)

In [45]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.90      0.94      0.92        79
           1       0.87      0.80      0.84        41

    accuracy                           0.89       120
   macro avg       0.89      0.87      0.88       120
weighted avg       0.89      0.89      0.89       120

In [46]:
import pickle

In [47]:
filename="final_model_log.sav"

In [48]:
pickle.dump(classifier,open(filename,"wb"))

In [49]:
loaded_model=pickle.load(open("final_model_log.sav","rb"))

In [50]:
result=loaded_model.predict([[29,250000,1]])

C:\Anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [51]:
result

array([1], dtype=int64)