In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [50]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [51]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [52]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [53]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [54]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [55]:
indep=dataset[['User ID', 'Age', 'EstimatedSalary', 'Gender_Male']]

In [56]:
dep=dataset[['Purchased']]

In [57]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test,=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [58]:
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit(x_test)

In [59]:
x_train

array([[-0.33955354,  0.81203707,  0.7926083 , -0.99250926],
       [-1.39346963, -0.96332069, -0.30625786,  1.00754728],
       [-0.970378  ,  0.12162016,  0.7926083 ,  1.00754728],
       ...,
       [-1.41609003, -0.1742728 , -0.51415146,  1.00754728],
       [ 1.22960977, -1.06195168, -0.45475329, -0.99250926],
       [ 1.49162583, -1.16058266,  1.44598818, -0.99250926]])

In [60]:
scy=StandardScaler()
y_train=scy.fit_transform(y_train)
y_test=scy.transform(y_test)

In [61]:
y_train

array([[-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [ 1.35269628],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425],
       [-0.73926425]])

In [62]:
from sklearn.svm import SVC
classifier=SVC(C=100, kernel='rbf')
classifier=classifier.fit(x_train,y_train)

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.