In [65]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [66]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [67]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [68]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [69]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [70]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [71]:
indep=dataset[['User ID', 'Age', 'EstimatedSalary', 'Gender_Male']]

In [72]:
dep=dataset[['Purchased']]

In [73]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test,=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [83]:
from sklearn.svm import SVC
classifier=SVC(C=10, kernel='linear',gamma='auto')
classifier=classifier.fit(x_train,y_train)

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [84]:
y_pred=classifier.predict(x_test)

In [85]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [86]:
cm

array([[82,  3],
       [29, 20]], dtype=int64)

In [87]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)

In [88]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.74      0.96      0.84        85
           1       0.87      0.41      0.56        49

    accuracy                           0.76       134
   macro avg       0.80      0.69      0.70       134
weighted avg       0.79      0.76      0.73       134